<div class="loginAlignment">
<%= form_tag verifier_path do %>
  <label>Username</label><br>
  <%= text_field_tag :'username' %><br>
 <br>
  <label>Password</label><br>
  <%= text_field_tag :'password'%><br>
  <br>
 
  <%= submit_tag "Login", class: 'f_submit' %>
<% end %>
<br>
<%=button_to "Go Back", portal_path, :method => :get, class: 'f_submit' %>
<% if @errors %>
  <%= @errors %>
  <% end %>
</div>