
    <div class="profile_logo">
        <%= @user.name %>  <%= @user.age %><br>
    </div>
    <div>
    <div class="sidebar">
    <% if @groups.present? %>
        <h5>Your groups</h5>
        
        <% @groups.each do |group| %>
        <ul>
        <li><%= group.name %><br></li>
        </ul>
        <% end %>
        <%= button_to "Join another group", '/groups', :method => :get %>
    <% else %>
        <%= button_to "Join a group", '/groups', :method => :get %>
    <% end %>
    </div>

    <div class="main_page">
        <%= button_to "Post", new_post_path, :method => :get %>
        <% @posts.each do |post| %>
            <div>
            <p><b><%= post.user.name %></b> posted in <b><%= post.group.name%></b> at <%=post.created_at     %> <br/>
            <%= post.content%><p> 
            <br><%= button_to "Delete a post", "/posts/#{post.id}", :method => :delete %>
            </div> 
        <% end %>
    </div>


