<div class="loginAlignment">
<%= form_for @user do |f| %>
<%= f.label :name  %><br>
<%= f.text_field :name %><br>
<%= f.label :age  %><br>
<%= f.text_field :age %><br>
<%= f.label :password  %><br>
<%= f.text_field :password %><br>
<%= f.submit , :class "login_s_submit"  %>
<% end %>
</div>